* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.nav-bar ul, li, a {
    display: flex;
    flex-direction: row;
    gap: 16px;
    text-decoration: none;
}

.main-1 {
    display: flex;
}