* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

.container {
    display: flex;
}

.header {
    display: flex;
    border: 1px solid black;
}

.nav-bar {
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
}