* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.nav-bar ul, li, a {
    display: flex;
    flex-direction: row;
    gap: 16px;
    text-decoration: none;
}

.main {
    display: flex;
    border: 1px solid black;
}

.main-1 {
    border: 1px solid black;
    display: flex;
    margin: 64px;
    align-items: center;
    max-width: 600px;
}

.main-1-left {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-1-left button {
    align-self: flex-start;
}

.main-1-right {
    border: 1px solid black;
    display: flex;
    flex: 1;
}